[push]
	default = simple
[alias]
	clone = clone --recursive
[init]
  templatedir = ~/.git-templates

[user]
  name = Frederick Robinson

# includeIf was introduced in git 2.13.0
[includeIf "gitdir:~/Projects/"]
  path = .gitconfig-home

[includeIf "gitdir:~/org/"]
  path = .gitconfig-home

[includeIf "gitdir:~/dotfiles/"]
  path = .gitconfig-home
