[submodule "emacs/.emacs.d/smex"]
	path = emacs/.emacs.d/smex
	url = https://github.com/nonsequitur/smex.git
[submodule "emacs/.emacs.d/rainbow"]
	path = emacs/.emacs.d/rainbow
	url = https://github.com/jlr/rainbow-delimiters.git
[submodule "emacs/.emacs.d/yasnippet"]
	path = emacs/.emacs.d/yasnippet
	url = https://github.com/capitaomorte/yasnippet.git
[submodule "emacs/.emacs.d/go-mode"]
	path = emacs/.emacs.d/go-mode
	url = https://github.com/dominikh/go-mode.el.git
